/* ************Transition timing function********* */

section{
    height: 60vh;
    width: 60vw;
    border: 2px solid black;
}
div{
    width: 100px;
    height: 100px;
    /* transition: all ease 0.5s; */
    transition-duration:2s;
    border-radius: 50%;
}
section:hover div{
    margin-left: 800px;
}
div:nth-of-type(1){
    transition-timing-function: linear;
    background: #000;
}
div:nth-of-type(2){
transition-timing-function: ease-in-out;
background: blue;
}
div:nth-of-type(3){
 transition-timing-function: ease-out;
background: green;
}
div:nth-of-type(4){
transition-timing-function: ease-in;
    background: yellow;
}
